#who-we-are-section {
    .who-we-are {
        padding: 6rem 0;
    }
    .who-text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .top-text {
            p {
                text-transform: uppercase;
                font-size: 0.95rem;
                font-weight: 600;
                color: #bdc4d4;
                margin-bottom: 15px !important;
            }
            h1 {
                font-size: 2.5rem;
                color: #2b2e35;
                font-weight: 700;
                margin-bottom: 0 !important;
            }
        }
        p {
                font-size: 0.9rem;
                font-weight: 600;
                color: #bdc4d4;
        }
        .read-more-link {
            a {
                display: inline-block;
                padding: 1rem 4rem;
                background-color: #adc867;
                color: #fff;
                font-weight: 700;
                font-size: 1rem;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
#services-section {
    padding: 6rem 0;
    background-color: #f3f7fb;
    .services-text {
        p {
            text-transform: uppercase;
            font-size: 0.95rem;
            font-weight: 600;
            color: #bdc4d4;
            margin-bottom: 15px !important;
        }
        h1 {
            font-size: 2.7rem;
            color: #2b2e35;
            font-weight: 700;
            margin-bottom: 0 !important;
        }
    }
    .single-service {
        border: 2px solid transparent;
        padding: 3rem 2rem;
        background: #fff;
        .service-title {
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            img {
                margin-right: 1rem;
            }

        }
        p {
            color: #a2b0bf;
            line-height: 2.3;
            font-weight: 500;
        }
        transition: all 0.2s ease;
        &:hover {
            border-color: #adc867;
            box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.1) ,  -2px 2px 5px 1px rgba(0,0,0,0.1) ,  2px -2px 5px 1px rgba(0,0,0,0.1);
        }
    }
   
}
#milestones-section {
    background: #55407d;
    padding: 3rem 0;
    .single-milestone {
        h1 {
            color: #fff;
            font-size: 4.5rem;
            font-weight: 700;
            margin-bottom: 0 !important;
            margin-top: 0.8rem !important;
        }
        p {
            margin: 0 !important;
            font-weight: 600;
            font-size: 1rem;
            color: #fff;
        }
    }
}
#contact-bottom {
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        display: block;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        background:#adc867;
        padding: 1.2rem 4rem;
        &:hover {
            text-decoration: none;
        }
    }
}